# Maven Airlines Case Study for Passenger Satisfaction

## Introduction :

For this challenge, you'll be assuming the role of Senior Data Analyst for Maven Airlines, a US-based airline headquartered in Boston, Massachusetts. The latest passenger survey results just came in and it looks like the satisfaction rate dipped under 50% for the first time ever. The leadership team needs to take action fast, so they've brought you in to analyze the data and find the key areas to focus on for getting back on track.

Your task is to recommend a data-driven strategy for increasing Maven Airlines' satisfaction rate, and present it in the form of a single page report or dashboard.

## 1 - Specifications

There I will be using the Mavenanalytics data set, as it is made public I assume that everybody is authorized to work on it and I also assume that there is no issue with bias or credibility of this datas.

## 2 - Preliminary questions

I wanted to raise as many questions as possible covering all the different criterias of the data set. Basically I will proceed step by step :<br>

   - <b>What is the ratio of satisfied passengers to dissatisfied passengers?</b> This one is basic although it remains essential for further analysis <br><br>
    
   - <b>What is the satisfaction rate by gender stats?</b> By differentiating the gender I might encounter useful results and eventually consider it as a source of improvement for the future recommendations.<br><br>
    
   - <b>What is the satisfaction rate by customer type of travel and class ?</b> There I will be splitting my results and I could later on focus on what type of class efforts should be made and what kind of travel are most likely required to be worked on<br><br>
   - <b>What is the satisfaction rate by flight distance ?</b> There I am going to categorize the travel under 3 categories and use it to increase the granularity of my analysis<br><br>
   - Finally, I will also study each features by type of passengers in order to retrieve the factors that affects positively or negatively the customer satisfaction.

## 3 - Processing the data

The data set file provided by MavenAnalytics is an excel CSV file. I had several option to exploit this data set, but in this case I am going to use Python and the famous libraries Pandas,Numpy and Seaborn to visualize all my data. Here my objective is not to provide a one page sumary of all the results but rather a paper which will tackle all the questions I have raised and bring proper explanations and solution as a conclusion.

First I will import all the required libraries and I will also convert the CSV file as a dataset.

In [5]:
import pandas as pd 
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('airline_passenger_satisfaction.csv')

Let's inspect quickly the df to get a first glance and eventually spot some issues to correct it quickly.

In [30]:
df.head()

,id,gender,age,customer_type,type_of_travel,class,flight_distance,departure_delay,arrival_delay,departure_and_arrival_time_convenience,...,on-board_service,seat_comfort,leg_room_service,cleanliness,food_and_drink,in-flight_service,in-flight_wifi_service,in-flight_entertainment,baggage_handling,satisfaction
0,1,Male,48,First-time,Business,Business,821,2,5.0,3,...,3,5,2,5,5,5,3,5,5,Neutral or Dissatisfied
1,2,Female,35,Returning,Business,Business,821,26,39.0,2,...,5,4,5,5,3,5,2,5,5,Satisfied
2,3,Male,41,Returning,Business,Business,853,0,0.0,4,...,3,5,3,5,5,3,4,3,3,Satisfied
3,4,Male,50,Returning,Business,Business,1905,0,0.0,2,...,5,5,5,4,4,5,2,5,5,Satisfied
4,5,Female,49,Returning,Business,Business,3470,0,1.0,3,...,3,4,4,5,4,3,3,3,3,Satisfied

First thing, I am going to lowercase and formate the column's headers.

In [28]:
df.columns = df.columns.str.lower().str.replace(' ','_')

Now I am looking for Null or missing value in the entire dataset.

In [35]:
df.isnull().sum()

id                                          0
gender                                      0
age                                         0
customer_type                               0
type_of_travel                              0
class                                       0
flight_distance                             0
departure_delay                             0
arrival_delay                             393
departure_and_arrival_time_convenience      0
ease_of_online_booking                      0
check-in_service                            0
online_boarding                             0
gate_location                               0
on-board_service                            0
seat_comfort                                0
leg_room_service                            0
cleanliness                                 0
food_and_drink                              0
in-flight_service                           0
in-flight_wifi_service                      0
in-flight_entertainment                     0
baggage_handling                            0
satisfaction                                0
dtype: int64

There are missing values in the 'arrival_delay' column. Thus I am going to check for these missing values and eventually replace them by 0 as I assume that means there were no delay.

In [39]:
df.loc[df.arrival_delay.isnull() == True,'arrival_delay'] = 0

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 129880 entries, 0 to 129879
Data columns (total 24 columns):
 #   Column                                  Non-Null Count   Dtype
---  ------                                  --------------   -----
 0   id                                      129880 non-null  int64
 1   gender                                  129880 non-null  object
 2   age                                     129880 non-null  int64
 3   customer_type                           129880 non-null  object
 4   type_of_travel                          129880 non-null  object
 5   class                                   129880 non-null  object
 6   flight_distance                         129880 non-null  int64
 7   departure_delay                         129880 non-null  int64
 8   arrival_delay                           129880 non-null  float64
 9   departure_and_arrival_time_convenience  129880 non-null  int64
 10  ease_of_online_booking                  129880 non-null  int64
 11  check-in_service                        129880 non-null  int64
 12  online_boarding                         129880 non-null  int64
 13  gate_location                           129880 non-null  int64
 14  on-board_service                        129880 non-null  int64
 15  seat_comfort                            129880 non-null  int64
 16  leg_room_service                        129880 non-null  int64
 17  cleanliness                             129880 non-null  int64
 18  food_and_drink                          129880 non-null  int64
 19  in-flight_service                       129880 non-null  int64
 20  in-flight_wifi_service                  129880 non-null  int64
 21  in-flight_entertainment                 129880 non-null  int64
 22  baggage_handling                        129880 non-null  int64
 23  satisfaction                            129880 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 23.8+ MB

Alright so far it seems there is no more missing values, the data seems coherent. I am going to proceed to specific changes, first I am going to create age categories as it's gonna be useful later on. Second, I will change the value type of the feedback feature to string as I am going to create 5 categories corresponding to the grades from 1 to 5.

In [42]:
dict_value = { 1 : 'very poor',2 :'poor',3 :'ok',4:'good',5:'very good'}

In [58]:
for features in df.loc[:,'departure_and_arrival_time_convenience':'baggage_handling'].columns:
    df[features] = df[features].map(dict_value)

Now the dataset is ready, I have setup all the columns as I wanted, I renamed the headers, I change the value to strings to get better visualization later on, I checked for the missing values, now let's dive into the analysis.

In [ ]:
Create Ã  flight distance range column + Age range column